/* GLOBAL */
body {
	background: #fff;
}

h1 {
	color: #2e3333;
}

.container {
	max-width: 1024px;
	margin: 0 auto;
}

.flex-container {
	display: flex;
}

/* HEADER */
header .container {
	padding: 0 30px;
}

header {
	background: #006d68;
}

.logo {
	height: 35px;
	padding: 20px;
}

/* RESTAURANT */
#restaurant {
	background: #f3f5f5;
}

#restaurant > .content {
	max-width: 1024px;
}

#restaurant .container {
	padding: 30px;
}

/* TOP BAR */
.info-restaurant {
	background: #fff;
}

.info-restaurant .container {
	display: flex;
	height: auto;
	padding: 30px;
}

.info-restaurant .image-info {
	width: 400px;
	height: 180px;
	overflow: hidden;
	border-radius: 3px;
	flex: 0 30%;
	align-self: center;
}

.info-restaurant img {
	width: 400px;
}

.info-restaurant .content-info {
	padding-right: 30px;
	flex: 0 70%;
}

/* CONTENT RESTAURANT */
.content-restaurant {
	margin-left: -10px;
	margin-top: -10px;
}

.menu-restaurant {
	flex: 0 70%;
}

.sidebar-restaurant {
	flex: 0 30%;
}

/* CARDS MENU */
.service-menu {
	display: flex;
	flex-wrap: wrap;
}

.card-menu {
	display: flex;
	background: #fff;
	border-radius: 3px;
	margin: 10px;
	width: calc(50% - 20px);
}

.card-menu:hover {
	cursor: pointer;
	-webkit-box-shadow: -2px 9px 32px -3px rgba(186, 186, 186, 0.7);
	-moz-box-shadow: -2px 9px 32px -3px rgba(186, 186, 186, 0.7);
	box-shadow: -2px 9px 32px -3px rgba(186, 186, 186, 0.7);
}

.card-menu .content {
	padding: 0 0 20px 30px;
	flex: 2;
}

.card-menu h3 {
	color: #2e3333;
}

.card-menu p {
	height: 56px;
	overflow: hidden;
	color: #828585;
}

.card-menu img {
	height: 100px;
}

.card-menu .image-menu {
	align-self: center;
	max-width: 100px;
	height: 100px;
	overflow: hidden;
	margin: 30px;
	flex: 3;
	border-radius: 3px;
}

/* MEDIAS QUERIES */
@media (max-width: 880px) {
	.sidebar-restaurant {
		display: none;
	}

	.menu-restaurant {
		flex: initial;
	}
}

@media (max-width: 600px) {
	.card-menu {
		width: 100%;
	}

	.info-restaurant .container {
		flex-direction: column-reverse;
		text-align: center;
		margin: 0 auto;
	}

	.info-restaurant .content-info {
		padding-right: 0;
		flex: initial;
	}
	.info-restaurant .image-info {
		width: 100%;
		height: 180px;
		overflow: hidden;
	}
}
